@import '../../mixins.scss';

.control-panel {
	padding: 20px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	@include mobile {
		padding: 10px 10px;
		flex-wrap: wrap-reverse;
	}
	&__sort-block {
		display: flex;
		align-items: center;
		@include mobile {
			padding: 7px 0;
		}
	}
	&__sort-name {
		margin-right: 10px;
		white-space: nowrap;
	}
}