@import '../../mixins.scss';

.update-task {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0.5);
	z-index: 99;
	&__body {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 400px;
		transform: translate(-50%, -50%);
		@include mobile {
			width: 90%;
		}
	}
	&__cencel-btn {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}